* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100vh;
    width: 100%;
}

/* Background */
.background {
    position: absolute;
    height: 100%;
    width: 100%;
}

.background img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Content */
.content {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* Burger */
.burger {
    position: absolute;
    top: 18%;
    left: 5%;
}

/* Leaf */
.leaf {
    position: absolute;
    top: 70%;
    left: 40%;
}

/* Pizza */
.pizza {
    position: absolute;
    top: 45%;
    right: 5%;
}

/* Momo */
.momo {
    position: absolute;
    top: 2%;
    right: 10%;
}

/* Tomato */
.tomato {
    position: absolute;
    top: 72%;
    left: 40%;
}

/* Text */
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.text h1 {
    font-size: 64px;
    line-height: 60px;
    margin-bottom: 40px;
    text-align: center;
    color: #ca0306;
}

.text p {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    max-width: 450px;
}